<div class="container-fluid">
  <div style="color: blue;">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>

  <div style="width: 300px;">
    <form #userForm="ngForm">

      <div class="form-group">
        <label for="id">Enter ID : </label>
        <input type="text" class="form-control" placeholder="Enter id" id="id" name="id"
          [(ngModel)]="userObj.id" required>
      </div>
      <div class="form-group">
        <label for="username">Username : </label>
        <input type="text" class="form-control" placeholder="Enter Content..." id="username" name="username"
          [(ngModel)]="userObj.username" required>
      </div>
      <div class="form-group">
        <label for="email">Email : </label>
        <input type="email" class="form-control" placeholder="Enter Content..." id="email" name="email"
          [(ngModel)]="userObj.email" required>
      </div>
      <div class="form-group">
        <label for="designation">Designation : </label>
        <input type="text" class="form-control" placeholder="Enter Content..." id="designation" name="designation"
          [(ngModel)]="userObj.designation" required>
      </div>
      <br />
      <div class="btn-group">
        <button *ngIf="!isEdit" type="submit" class="btn btn-success" (click)="saveUser(userForm)">Submit</button>
        <button *ngIf="isEdit" type="submit" class="btn btn-success" (click)="updateUser(userForm)">Update</button>
      </div>

    </form>
  </div>

  <br />

  <h3>Content From Firebase</h3>
  <div class="col-md-10">
    <table class="table table-dark">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Email</th>
          <th>Designation</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody var i=0>
        <tr *ngFor="let user of users; index as i">
          <td scope="row">{{i+1}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.designation}}</td>
          <td><button class="btn btn-primary" (click)="editUser(user)">Edit</button></td>
          <td><button class="btn btn-warning" (click)="deleteUser(user)">Delete</button></td>
        </tr>
      </tbody>

    </table>
  </div>

</div>